.pids-wrapper {
    width: 100%;
}

.pid {
    width: calc(10% - 10px);
    height: 10px;
    display: inline-block;
    margin: 3px;
}

.actionButtons {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
}
